body {
    background-color: #121212;
    font-family: "Open Sans", "Arial", "sans-serif";
    color: #ffffff;
    margin: 0%;
}

/* unvisited link */
a:link {
    color: #d8a175;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #d8a175;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #dbb597;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #dbb597;
    text-decoration: underline;
}

.header-picture-container {
    background-image: url('Assets/WebsiteBackground.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    background-attachment: fixed; /* If you want a fixed background */
    padding: 10px;
}

/* Title */
h1 {
    color: white;
    text-align: center;
    padding: 20;
    align-items: center;
    background-color: #232323;
    border-radius: 8px;
    margin-top: 5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Title link */
a.header-title {
    color: white;
    text-align: center;
    background-color: #232323;
    align-items: center;
}

.navbar {
    background-color: #232323;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}
  
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
  
.nav-list li {
    display: inline-block;
}
  
.menu-icon {
    display: none;
    cursor: pointer;
}
  
.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
}
 /* 
@media screen and (max-width: 600px) {
    .navbar a, .menu-icon {
      display: none;
    }
  
    .menu-icon {
      display: block;
    }
  
    .nav-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  
    .nav-list li {
      width: 100%;
      text-align: center;
    }
  
    .navbar.responsive .menu-icon {
      position: absolute;
      top: 0;
      right: 0;
    }
  
    .navbar.responsive a {
      display: block;
      text-align: left;
    }
}*/

.blurb-text-container {
    margin: 10% 25%;
    background-color: #232323;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

p.blurb-text {
    color: #c0c0cb;
    text-align: center;
    padding: 20;
}

.featured-projects-container {
    text-align: center;
    padding: 15px;
    padding-bottom: 0px;
}

a.featured-projects {
    color: #b9c0cb;
    text-align: center;
    font-size: 1.75em;
    margin-top: 3em;
    text-decoration: none;
    align-items: center;
}

a.featured-projects:hover {
    text-decoration: underline;
}

/*Project cards*/

/* Optional: Adjust the styles for the carousel container */
.carousel-container {
    width: 80%;
    max-width: 1200;
    height: 400px;
    margin: 0 auto;
}

.card {
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    width: 150px;
    height: 300px;
    margin: 20px;
    background-color: #232323;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: -0.5em;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin: auto;
}

.card-description {
    font-size: 14px;
    overflow: hidden;
    color: #b9c0cb;
    margin: 0.5em;
    margin-bottom: em;
}

.prototype-table-container {
    margin: 10% 2%;
    padding: 5% 5%;
    background-color: #232323;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

table, th, td {
    border: 1px solid #b9c0cb;
    border-collapse: collapse;
    color: #b9c0cb;
    margin: auto;
    padding: 8px;
    text-align: left;
}

.project-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5%;
}

.project-card {
    display: flex;
    width: 100%;
    max-width: 600px;
    height: 160px;
    border-radius: 8px;
    background-color: #232323;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    
}

.project-card img {
    max-width: 100px;
    height: auto;
    object-fit: cover;
}

.project-card-content {
    padding: 20px;
}

.project-card-title {
    font-size: 18px;
    font-weight: bold;
    margin: auto;
}

.project-card-description {
    padding: 10px 2px;
    color: #b9c0cb;
}

.rss-text-container {
    margin: 15px 25%;
    background-color: #232323;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

p.rss-text {
    color: #b9c0cb;
    text-align: center;
    padding: 0;
}

.project-header {
    color: #b9c0cb;
    text-align: center;
    width: 100%;
    max-width: 200px;
    height: 120px;
    border-radius: 8px;
    background-color: #232323;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
}